@import '../../styles/variables.scss';
.container {
	display: grid;
	grid-template-columns: 1fr;
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	padding-bottom: 20px;
	.services {
		display: flex;
		flex-direction: column;
		.service {
			padding: 10px;
			margin: 5px auto;
			border-radius: 5px;
			width: 100%;

			.link {
				color: $accent !important;
			}
		}
	}
}

@media (min-width: 700px) {
	.container {
		width: 80%;
		.services {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 5px;
		}
	}
}

@media (min-width: 1024px) {
	.container {
		.services {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}
