@import '../../styles/variables.scss';
.container {
	display: grid;
	grid-template-columns: 1fr;
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	padding-bottom: 20px;
}

@media (min-width: 700px) {
	

@media (min-width: 800px) {
	.container {
		width: 90%;
	}
}

@media (min-width: 1024px) {
	
}
