@import '../../styles/variables.scss';
.banner {
	background: url('/images/keyboard.jpg') center center/cover no-repeat;
	box-shadow: inset 0 0 0 1000px rgb(27, 25, 52, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 40vh;

	h1,
	p {
		margin: 0 2.5rem;
		padding: 0;
	}
}
.container {
	display: grid;
	grid-template-columns: 1fr;
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	padding-bottom: 20px;
}

@media (min-width: 700px) {
}

@media (min-width: 800px) {
	.container {
		width: 90%;
	}
}

@media (min-width: 1024px) {
}
