@import '../../styles/variables.scss';
.container {
	display: grid;
	grid-template-columns: 1fr;
	width: 90%;
	margin: 0 auto;
	padding-bottom: 20px;
	background: $bg-faint;
	.hed {
		margin: 0 auto;
		width: 100%;
		font-size: 1.2rem;
		padding: 10px;
	}
	.services {
		display: grid;
		gap: 10px;
		grid-template-columns: 1fr;

		.service {
			
			padding: 10px;
			margin: 5px auto;
			border-radius: 5px;
			width: 100%;

			a {
				color: $accent !important;
			}
		}
	}
}

@media (min-width: 700px) {
	.container {
		width: 100%;
		.hed {
			width: 80%;
			font-size: 1.5rem;
		}
		.services {
			margin: 0 auto;
			width: 80%;

			grid-template-columns: 1fr 1fr;
		}
	}
}

@media (min-width: 1024px) {
	.container {
		.hed {
			font-size: 1.7rem;
		}
		.services {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}
