@import '../../styles/variables.scss';
.container {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 20px;
	background: $bg-faint;

	.header {
		margin: 0 auto;
		width: 80%;
		font-size: 1.2rem;
		padding: 10px;

		max-width: 75rem;
	}
	.services {
		display: grid;
		gap: 10px;
		grid-template-columns: 1fr;
		margin: 0 auto;
		width: 80%;
		max-width: 75rem;

		.service {
			padding: 10px;
			margin: 5px auto;
			border-radius: 5px;
			width: 100%;

			h3 {
				border-bottom: 1px dotted $accent;
			}

			a {
				color: $accent !important;
			}
		}
	}
}

@media (min-width: 700px) {
	.container {
		.hed {
			width: 90%;
			font-size: 1.5rem;
		}
		.services {
			margin: 0 auto;
			width: 90%;

			grid-template-columns: 1fr 1fr;
		}
	}
}

@media (min-width: 1024px) {
	.container {
		.hed {
			font-size: 1.7rem;
		}
		.services {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}
