@import '../../styles/variables.scss';
.container {
	// =================================
	background: url('https://res.cloudinary.com/playhouse-media-group/image/upload/v1641719697/portfolio/keyboard_wa9q4o.jpg')
		center center/cover no-repeat;
	// height: 50vh;
	// ================================

	padding-top: 20px;
	padding-bottom: 20px;
	display: grid;
	grid-template-columns: 1fr;
	box-shadow: inset 0 0 0 1000px rgb(27, 25, 52, 0.8);

	&__content {
		width: 90%;
		margin: 0 auto;
		padding: 1.25rem;

		&__text {
			h2 {
				// font-size: 2rem;
				font-weight: 700;
				margin-bottom: 1rem;
			}
			a {
				font-size: 1.5rem;
				border-bottom: 2px solid $accent;

				&:hover {
					color: $accent;
					border-bottom: 2px solid $primary;
				}
			}
		}
	}
}

// This applies from 600px onwards
@media (min-width: 900px) {
	.container {
		&__content {
			&__text {
				width: 75%;
				h2 {
					font-size: 2rem;
				}
			}
		}
	}
}
