@import '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

.container {
	// background: url('/images/keyboard-with-flower.jpg') no-repeat center center fixed;
	background: url('https://res.cloudinary.com/playhouse-media-group/image/upload/v1641899580/portfolio/keyboard-with-flower_mik10s.webp')
		center center/cover no-repeat;
	display: flex;
	flex-direction: column;
	box-shadow: inset 0 0 0 1000px rgb(27, 25, 52, 0.8);
	justify-content: center;
	min-height: 50vh;
	margin: 0 auto;

	&__hero {
		max-width: 90%;
		margin: 0 auto;
		padding: 10px;
		margin-top: 20px;
		margin-bottom: 20px;

		display: flex;
		justify-content: center;
		align-items: center;
		.container__left {
			width: 100%;

			.hero_text {
				font-size: 1.8rem;
				line-height: 1.2;
			}
			.title {
				text-transform: uppercase;
				color: $accent;
				line-height: 0.8;
				font-size: 1rem;
			}
			.quote {
				font-style: italic;
			}
			.custom_web {
				color: $accent;
			}
			.buttons {
				display: flex;

				.btn {
					margin: 0.5rem;
					padding: 0.5rem 1rem;
					border: 1px solid $accent;
					border-radius: 0.2rem;
					font-size: 0.9rem;
					background: $accent;

					a {
						&:hover {
							color: $bg;
						}
					}
				}
			}
		}
		.container__right {
			display: none;
		}
	}
}
// This applies from 600px onwards
@media (min-width: 900px) {
	.container {
		min-height: 70vh;
		&__hero {
			.container__left {
				.hero_text {
					font-size: 3rem;
					font-weight: 600;
					line-height: 1.1;
				}
			}
		}
	}
}

// This applies from 600px onwards
@media (min-width: 1024px) {
	.container {
		min-height: 75vh;
		&__hero {
			max-width: 75rem;
			display: grid;
			grid-template-columns: 2fr 1fr;
			.container__left {
				.hero_text {
					font-size: 3rem;
					font-weight: 600;
					transition: all 1s ease-in-out;
				}
				.buttons {
					display: flex;
					justify-content: flex-start;
					align-items: center;

					.btn {
						margin: 0.5rem;
						padding: 0.8rem;
						cursor: pointer;
					}
				}
			}

			.container__right {
				display: block;
				margin: 0.625rem;
				padding: 0.625rem;
				border-radius: 0.3125rem;
				background-color: rgba(14, 13, 29, 0.2);

				font-size: 1rem;
				transition: all 1s ease-in-out;

				.quote__text {
					.quotes {
						padding: 1rem;
						font-size: 1.3rem;
						font-family: 'Poller One', cursive;
					}
					.quote__author {
						font-style: italic;
						font-weight: 100;
						padding: 1rem;
					}
				}
			}
		}
	}
}

@media (min-width: 1330px) {
	.container {
		&__hero {
			.container__left {
				.hero_text {
					font-size: 3.5rem;
					font-weight: 700;
				}
			}
		}
	}
}
