@import './variables.scss';
html,
body {
	padding: 0;
	margin: 0;
	font-family: poppins, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
		Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background: $bg;
	color: #fafafa;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
