@import './variables.scss';
.container {
	background: url('/images/bg.jpg') no-repeat center center fixed;
	box-shadow: inset 0 0 0 1000px rgb(27, 25, 52, 0.8);
	height: 60vh;
	.content {
		display: grid;
		height: 100%;
		align-content: center;
		justify-content: center;
		text-align: center;
		width: 90%;
		margin: 0 auto;
	}
}

@media (min-width: 700px) {
	.container {
		.content {
			width: 80%;
		}
	}
}

@media (min-width: 1024px) {
	.container {
		height: 75vh;
		.content {
			max-width: $containerMaxWidth;
		}
	}
}
