@import './variables.scss';
.container {
	margin: 0 auto;
	padding-bottom: 20px;
	width: 80%;

	.title {
		// border: 1px solid #eaeaea;
	}

	.author {
		display: flex;
		padding: 0 10px 10px 0;
		align-items: center;

		&_image {
			border-radius: 50%;
		}

		&_details {
			display: flex;
			flex-direction: column;
			margin-left: 10px;
		}
	}
}

// @media (min-width: 700px) {
// 	.container {
// 	}
// }

@media (min-width: 1024px) {
	.container {
		width: 60%;
		max-width: 60vw;
	}
}
