@import '../../styles/variables.scss';

.nav {
	// margin-top: -60px;
	transition: all 0.6s ease;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	.container {
		position: relative;
		height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 90%;
		margin: auto;

		.brand {
			cursor: pointer;
			// color: hsl(268, 85%, 34%);
		}
		.navigation {
			.navbar {
				display: none;
			}

			.hamburger {
				cursor: pointer;
			}
			.menu {
				position: fixed;
				height: calc(100vh - 50px);
				width: 60vw;
				background-color: $bg;
				// top: 50px;
				margin: 0;
				padding: 0;
				font-weight: 500;
				z-index: 999;
				transition: all 1s ease-in-out;

				li {
					margin-left: 2rem;
					list-style: none;
					margin-top: 1.5rem;
					padding: 1rem;
				}
			}
		}
	}
}
// This applies from 600px onwards
@media (min-width: 700px) {
	.nav {
		.container {
			.navigation {
				.mobileNav {
					display: none;
				}
				.navbar {
					display: block;

					&__links {
						display: flex;
						justify-content: flex-end;
						font-weight: 500;

						& :hover {
							color: hsl(268, 85%, 34%);
						}
					}
					li {
						margin-right: 2rem;
						list-style: none;
					}
				}
			}
		}
	}
}
