@import '../../styles/variables.scss';
.contact {
	display: grid;
	background: url('/images/bg.jpg') no-repeat center center fixed;
	box-shadow: inset 0 0 0 1000px rgb(27, 25, 52, 0.8);
	min-height: 55vh;

	&__container {
		width: 90%;
		margin: 50px auto;
		display: grid;
		gap: 50px;
		grid-template-columns: 1fr;
		&__left {
			// width: 100%;
			margin-bottom: 20px;
			.title {
				border-bottom: 2px solid $accent;
			}

			.socialLinks {
				display: flex;
				justify-content: space-between;
				.link {
					display: flex;
					width: 50px;
					height: 50px;
					border-radius: 50%;
					text-align: center;
					align-items: center;
					justify-content: center;
					background: $accent;
				}
			}
		}
		&__right {
			background: $bg-faint;
			padding: 10px;
			padding-bottom: 20px;
			border-radius: 5px;
			// width: 100%;
			.form {
				display: flex;
				flex-direction: column;
				.input,
				.textarea {
					padding-left: 10px;
					margin: 10px 0;
					outline: none;
					font-family: poppins;
					background: transparent;
					border: none;
					border-bottom: 1px $accent solid;
					color: #fff;
				}
				.input {
					height: 40px;
				}
				.textarea {
					height: 100px;
				}
			}
			.btn {
				padding: 15px 40px;
				text-transform: uppercase;
				border: none;
				background: $accent;
				color: #fff;
				cursor: pointer;
				border-radius: 5px;
				transition: all 1s ease-in;
				&:hover {
					background: $primary;
					color: $bg;
					transition: all 1s ease-out;
				}
			}
		}
	}
}
@media (min-width: 480px) {
}
@media (min-width: 760px) {
	.contact {
		&__container {
			width: 80%;
			max-width: $containerMaxWidth;
			grid-template-columns: 1fr 1fr;
		}
	}
}

@media (min-width: 1024px) {
	.contact {
		&__container {
			&__left,
			&__right {
				max-width: 500px;
			}
		}
	}
}
