@import '../../styles/variables.scss';
.banner {
	background: url('https://res.cloudinary.com/playhouse-media-group/image/upload/v1641719692/portfolio/keyboard-with-flower_khpy4y.jpg')
		center center/cover no-repeat;
	box-shadow: inset 0 0 0 1000px rgb(27, 25, 52, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 40vh;

	h1,
	p {
		margin: 0 2.5rem;
		padding: 0;
	}
}
.container {
	display: grid;
	grid-template-columns: 1fr;
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	padding-bottom: 20px;
	.services {
		display: flex;
		flex-direction: column;
		.service {
			padding: 10px;
			margin: 5px auto;
			border-radius: 5px;
			width: 100%;

			.techstack {
				color: $accent;
			}
			.links {
				display: flex;

				a {
					margin: 5px;

					border-bottom: 2px solid $accent;

					&:hover {
						color: $accent;
						border-bottom: 2px solid $primary;
					}
				}
			}
			.technology {
				width: 100%;
				display: flex;
				flex-wrap: wrap;

				span {
					border: 1px solid $primary;
					color: $primary;
					padding: 0.3rem;
					margin: 0.3rem;
					border-radius: 5px;
				}
			}

			a {
				&:hover {
					color: $accent;
				}
			}
		}
	}
}

@media (min-width: 700px) {
	.banner {
		h1 {
			font-size: 3rem;
		}
	}
	.container {
		.services {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 5px;
		}
	}
}

@media (min-width: 800px) {
	.container {
		width: 90%;
	}
}

@media (min-width: 1024px) {
	.container {
		.services {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}
