@import '../../styles/variables.scss';

.banner {
	display: grid;
	height: 400px;
	margin: 0 auto;
}
.container {
	
	// place-items: center;
	display: grid;
	grid-template-columns: 1fr;
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	padding-bottom: 20px;

	.technologies {
		padding-right: 10px;
		color: green;
	}
}

@media (min-width: 700px) {
	.banner {
		&__content {
			h1 {
				font-size: 2rem;
			}
		}
	}
}

@media (min-width: 760px) {
}

@media (min-width: 1024px) {
	.container {
		width: 80%;
		max-width: $containerMaxWidth;
	}
}
