@import '../../styles/variables.scss';

.container {
	width: 90%;
	margin: 50px auto;

	&__content {
		display: grid;
		grid-template-columns: 1fr;
		gap: 15px;
		margin-bottom: 40px;

		&__links,
		&__item {
			border-radius: 0.3125rem;
			padding: 15px;
			padding-bottom: 40px;
		}

		&__item {
			background: $bg-faint;

			h3 {
				font-size: 1.2rem;
			}

			a {
				border-bottom: 2px solid $accent;

				&:hover {
					color: $accent;
					border-bottom: 2px solid $primary;
				}
			}
		}

		&__links {
			h3 {
				margin: 0;
				padding: 0;
			}
			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					margin: 15px 0;
					a {
						padding: 15px 0;
						// border: 2px solid $accent;
					}
				}
			}
		}
	}
}

@media (min-width: 480px) {
	.container {
		&__content {
			grid-template-columns: 1fr 1fr;
		}
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: $containerMaxWidth;
		width: 80%;
		&__title {
			h2 {
				font-size: 2rem;
			}
		}
		&__content {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}
}
