@import '../../styles/variables.scss';

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 1rem;
	margin: 0 auto;
	padding: 0 1rem;
	width: 80%;
	max-width: 75rem;
	margin-top: 3rem;
	margin-bottom: 3rem;

	.title {
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.7);
		font-size: 1rem;
		text-align: center;
	}
	.content {
		.item {
			.titles {
				text-align: center;
				margin: 1rem 0;
				font-size: 1.5rem;
				.digital {
					color: $primary;
					font-weight: 300;
					font-size: 1.2rem;
				}
			}
			.boxes {
				display: grid;
				grid-template-columns: 1fr;
				gap: 10px;

				.box {
					border-radius: 0.3125rem;
					padding: 1rem;
					background-color: rgba(14, 13, 29, 0.2);
					// .icon {
					display: flex;
					flex-direction: column;
					align-items: center;
				}
			}
		}
	}
}
@media (min-width: 500px) {
	.container {
		.content {
			.item {
				.boxes {
					grid-template-columns: repeat(2, 1fr);
				}
			}
		}
	}
}
@media (min-width: 800px) {
	.container {
		.content {
			.item {
				.boxes {
					grid-template-columns: repeat(3, 1fr);
				}
			}
		}
	}
}

@media (min-width: 1240px) {
	.container {
		.content {
			.item {
				.boxes {
					grid-template-columns: repeat(5, 1fr);

					.box {
						margin: 10px 0;
					}
				}
			}
		}
	}
}
